[Unit]
Description=PV Limiter
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pv/hoymiles-limiter/pv_limiter.py
WorkingDirectory=/home/pv/hoymiles-limiter
Restart=always
User=pv

[Install]
WantedBy=multi-user.target
