[Unit]
Description=PV Limiter
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pv/pv_limiter.py
WorkingDirectory=/home/pv
Restart=always
User=pv

[Install]
WantedBy=multi-user.target
